.title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    color: #000000;

    width: 100%;
    padding-bottom: 33px;
    margin: 52px 0px;
    border-bottom: 1px solid #E5E5E5;

    outline: 0px solid transparent;
}